.main {
    display: flex;
    background-color: beige;
    padding: 2.5%;
    justify-content: center;
    height: 500px;
  }
  
  .content-box {
    padding: 2%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the content inside the content-box */
    text-align: center; /* Center align the text */
}

.headings {
    text-align: center;
    color: rgb(110, 58, 24);
    font-family:'Ysabeau Office', sans-serif;
    text-transform: uppercase;
}
.content-box:hover{
    transform: scale3d(1.2,1.2,1.2);
    transition: 0.1s ease;
}
  
  .pfp {
    width: 45%;
    padding: 1%;
    margin: 1%;
    display: flex;
    justify-content: center; /* Center align the image horizontally */
  }
  .para{
    color: rgb(110, 58, 24);
    font-family:'Ysabeau Office', sans-serif;
  }
  
.title{
    background-color: rgb(83, 54, 15);
    padding: 1.2%;
    text-align: center;
    color: beige;
    font-family:'Ysabeau Office', sans-serif;
}
.title.title.titt:hover{
  background-color: rgb(80, 65, 45);
}
a:hover{
  background-color: rgb(80, 65, 45);
}
a{
  background-color: rgb(83, 54, 15);  
  text-decoration: none;
    color: beige;
}
.grid{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  /* justify-content: space-evenly; */
  /* margin: 20px; */
  height: 1000px;
  /* align-items: center; */
  /* grid-column-gap: 220px;
  grid-row-gap: 500px;*/
  /* grid-gap: auto auto; */
}
.grid-item{
  font-family:'Ysabeau Office', sans-serif;
  /* margin: 50px; */
  padding: 50px;
  text-align: center;
  
}
